{% extends 'base.html' %}

{% block content %}
    <h1><i class="fi-lock"></i> Réinitialisation du mot de passe</h1>
    <div class="callout">
        <p>Nous vous avons transmis les instructions de réinitialisation de votre mot de passe par email.<br>
            Si un compte avec cet email existe, alors vous devriez le recevoir dans votre boite de réception. Consultez
            éventuellement le dossier des spams si celui-ci n'apparaît pas.</p>
        <p>Si vous ne recevez pas d'email, assurez vous que vous avez bien entré la bonne addresse mail.</p>
    </div>
{% endblock %}