{% load staticfiles %}
{% load cache %}
{% cache 500 mainhead %}
    <script>
        /*******************************************
         * Force reload page content when navigate *
         *******************************************/
        (function () {
            if (window.localStorage) {
                if (!localStorage.getItem('firstReLoad')) {
                    localStorage['firstReLoad'] = true;
                    window.location.reload();
                } else {
                    localStorage.removeItem('firstReLoad');
                }
            }
        })();
    </script>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/font/source-sans-pro/source-sans-pro.css' %}">
    <link rel="stylesheet" href="{% static 'css/font/foundation-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font/MapkeyIcons.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bs3_custom_theme/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {{ form.media }}
    {{ filter.form.media }}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <style>

    </style>
{% endcache %}
