<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="btn-primary navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="/">dbChiro<sub>[web]</sub></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fi-graph-pie"></i> Synthèses<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'synthesis:global_contrib' %}"><i class="fi-graph-trend"></i> Contributions</a>
                        </li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    {# Début du menu des Observations #}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-fw fa-eye"></i> Observations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><i class="fa fa-map"></i> Localités</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'sights:place_search' %}"><i class="fa fa-fw fa-search"></i>
                                        Rechercher<span
                                                class="hide-for-small-only"> des localités</span></a></li>
                                    <li><a href="{% url 'sights:place_map' %}"><i class="fa fa-fw fa-map"></i> Carte<span
                                            class="hide-for-small-only"> des localités</span></a></li>
                                    {#                                <li><a href="{% url 'place_table' %}" target="_blank"><i class="fi-list-bullet"></i>#}
                                    {#                                    Liste<span class="hide-for-small-only"> des localités</span></a></li>#}
                                    <li><a href="{% url 'sights:place_create' %}"><i class="fi-plus"></i>
                                        Créer<span class="hide-for-small-only"> une localité</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><i class="fi-torso"></i> Mes données</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'sights:place_mylist' %}"><i class="fa fa-fw fa-map"></i> Mes
                                        localités</a></li>
                                    <li><a href="{% url 'sights:session_mylist' %}"><i class="fi-calendar"></i> Mes
                                        sessions</a></li>
                                    <li><a href="{% url 'sights:sighting_mylist' %}"><i class="fa fa-fw fa-eye"></i> Mes
                                        observations</a></li>

                                </ul>
                            </li>
                            {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
                                <li class="has-submenu">
                                    <a href="{% url 'sights:sighting_list' %}"><i class="fa fa-fw fa-eye"></i> Liste des
                                        observations</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    {# Fin du menu des Observations #}
                    {# Début du menu de gestion #}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><i class="fi-paperclip"></i>
                            Gestion<span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            {% if user.is_resp or user.access_all_data or user.edit_all_data or user.is_staff or user.is_superuser %}
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false"><i class="fi-torsos-all"></i> Observateurs</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'accounts:user_search' %}"><i
                                                class="fi-list-bullet"></i> Liste des observateurs</a>
                                        </li>
                                        <li><a href="{% url 'accounts:user_create' %}"><i class="fi-plus"></i>
                                            Créer un nouvel observateur</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false"><i class="fi-like"></i> Actualités du blog</a>
                                    <ul class="dropdown-menu" data-submenu>
                                        <li><a href="{% url 'blog:actu_create' %}" target="_blank"" target="_blank"><i
                                                class="fi-plus"></i> Créer un nouvel article</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><i class="fi-page"></i> Etudes</a>
                                <ul class="dropdown-menu" data-submenu>
                                    <li><a href="{% url 'management:study_list' %}"><i class="fi-list-bullet"></i>
                                        Liste des études</a></li>
                                    <li><a href="{% url 'management:study_create' %}"><i class="fi-plus"></i>
                                        Créer une nouvelle étude</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><i class="fa fa-podcast"></i> Emetteurs</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'management:transmitter_list' %}" target="_blank"><i
                                            class="fi-list-bullet"></i> Liste des émetteurs télémétriques</span></a>
                                    </li>
                                    <li><a href="{% url 'management:transmitter_create' %}" target="_blank"><i
                                            class="fi-plus"></i>
                                        Créer un nouvel émetteur télémétrique</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><i class="fi-like"></i> Arrétés d'autorisations de capture</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'management:catchauth_list' %}" target="_blank""
                                        target="_blank"><i
                                                class="fi-list-bullet"></i> Liste<span
                                                class="hide-for-small-only"> des arrétés</span></a>
                                    </li>
                                    <li><a href="{% url 'management:catchauth_create' %}" target="_blank"><i
                                            class="fi-plus"></i>
                                        Ajouter<span class="hide-for-small-only"> un nouvel arrếté</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {# Fin du menu de gestion #}
                    {# Début du menu du compte utilisateur #}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><i class="fi-torsos-female-male"></i> Mon compte<span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'accounts:myprofile_detail' %}"><i class="fi-torsos-female-male"></i>
                                    Mon
                                    profil</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:myprofile_update' %}"><i class="fi-lock"></i> Modifier mon
                                    profil</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:change_password' %}"><i class="fi-lock"></i> Modifier mon mot
                                    de
                                    passe</a>
                            </li>
                        </ul>
                    </li>
                    {# Fin du menu du compte utilisateur #}
                {% else %}
                    <p class="navbar-text"><i class="fi-alert"></i> Vous devez vous connecter</p>
                {% endif %}
                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}"><i class="fi-widget"></i><span class="hide-for-small-only"> Administration du site</span><span
                            class="show-for-small-only"> Admin</span></a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter ({{ user.username }})
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'password_reset' %}"><i class="fi-first-aid" aria-hidden="true"
                                                                alt="Mot de passe oublié"></i> Mot de passe
                            oublié</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"
                                                       alt="Se connecter"></i>
                            Se
                            connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Brand
            </a>
        </li>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">Team</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="https://twitter.com/maridlcrmn">Follow me</a>
        </li>
    </ul>
</nav>