{% extends 'base_home.html' %} {% block content %}
<h1><i class="fi-info"></i> Erreur 400</h1>
<div class="columns callout">
	<h2>Mauvaise requête</h2>
    <p style="font-size: 0.8em;">{{ exception }} </a>
</div>
{% endfor %} {% endblock %}
