{% extends 'base.html' %} {% block content %}
<h1><i class="fa fa-fw fa-exclamation-triangle"></i> Accès non autorisé</h1>
<div class="alert alert-danger">
	<p>{{ message }}</p>
</div>
{% endblock %}
